
.Navbar
{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-left: 120px;
    padding-top: 50px;
    color: var(--beige);
    position: fixed;
    text-align: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    width: 350px;
    background-color: var(--deep-blue);
}

.Profile-Text {
    font-family: 'Caveat', cursive;
    position: relative;
    font-size: 37px;
    margin-left: -76px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--beige);
    display: inline-block;
}

p{
    margin-left: -49px;
    padding-top: 40px;
}

.Description{
  margin-top: -30px;
  margin-left: -90px;
  color: var(--sand);
}

.nested-Description
{
  margin-top: -30px;
  margin-left: 25px;
  color: var(--sand);
}

.Opening-Profile-line{
  background-color: var(--beige);
  max-height: 2px;
  width: 300px;;
  margin-left: -100px;
  margin-top: 20px;
  color: var(--deep-blue);
  border-radius: 20px;
}

.Closing-Profile-line{
  background-color: var(--beige);
  max-height: 2px;
  width: 300px;;
  margin-left: -100px;
  margin-top: 15px;
  color: var(--deep-blue);
  border-radius: 20px;
}

.profile-foto{
  height: 100px;
  width: 150px;
  margin-left: -25px;
  border-radius: 20px;
  border: 4px solid var(--sand);
}

.links{
  margin-top: -35px;
  width: 190px;
  text-align: center;
  margin-left: -50px;
  padding-top: 50px;
}

.about-links{
  font-size: 20px;
  font-weight: 700;
  color: var(--deep-blue);
}

.about-links:hover{
  font-size: 20px;
  font-weight: 700;
  color: var(--green);
}

.links li a:hover{
  letter-spacing: 1px;
  color: var(--green);
}

.links ul {
    list-style: none;       
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;          
    max-height: 100vh;
    overflow-y: auto; 
    overflow: hidden;             
}

.links li {
    padding: 10px;
    background-color: var(--beige);
    font-family: 'Cormorant Garamond', serif;
    border-radius: 10px;
    border: 5px solid var(--deep-blue);
    margin: 0;
}

.links li a {
    text-decoration: none;   /* verwijdert underline */
    color: var(--deep-blue);
    font-size: 20px;
    font-weight: 700;
}

.links li a.active {
  background-color: var(--beige);
}

.icons8{
  position: absolute;
  margin-top: 640px;
  width: 350px;
  margin-left: -120px;
  text-align: center;
  color: green;
  background-color: beige;
}

@keyframes flashText {
    0% {
        background-position: -200% 0;
    }
    50% {
        background-position: 200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
